@{
    ViewData["Title"] = "Get to Know Joel";
}

@{
    Layout = "_Layout";
}

<h1>Get to Know Joel</h1>

<p>Check out Joel's work and interests:</p>

<ul>
    <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy (where he performs regularly)</a></li>
    <li><a href="https://baconsale.com/">Baconsale site</a></li>
</ul>

<p>Click on the photo below to visit Baconsale:</p>

<a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" alt="BaconSale Site">
</a>
